<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" type="image/png" href="http://placehold.jp/16x16.png" />
</head>
<body>
    <ul>
        <li><a href="/quickStart.html">Quick Start</a></li>
        <li><a href="/exampleOption.html">example options</a></li>
        <li><a href="/soundSprite.html">Sound Sprite</a></li>
        <li><a href="/listenEvents.html">Listen for events</a></li>
        <li><a href="/multipleSounds.html">Control multiple sounds</a></li>
        <li><a href="/pause.html">pause</a></li>
        <li><a href="/stop.html">stop</a></li>
        <li><a href="/mute.html">mute</a></li>
        <li><a href="/volume.html">volume</a></li>
        <li><a href="/fade.html">fade</a></li>
        <li><a href="/rate.html">rate</a></li>
        <li><a href="/seek.html">seek</a></li>
        <li><a href="/state.html">state</a></li>
        <li><a href="/duration.html">duration</a></li>
        <li><a href="/off.html">off</a></li>
        <li><a href="/load.html">load</a></li>
        <li><a href="/unload.html">unload</a></li>
        <li><a href="/options.html">options</a></li>
        <li><a href="/events.html">events</a></li>
        <li><a href="/globalOptions.html">Global Options</a></li>
        <li><a href="/globalMethods.html">Global Methods</a></li>
    </ul>
</body>
</html>
